@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Noto+Sans+JP:wght@100..900&display=swap');

.relative-field {
  position: relative;
}

.nav-bg {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 80px;
  width: auto;
}

.nav-img1 {
  position: absolute;
  right: 480px;
  top: 10px;
  height: 80px;
  width: auto;
}

.nav-img2 {
  position: absolute;
  right: 250px;
  top: 10px;
  height: 80px;
  width: auto;
}

.nav-img3 {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 80px;
  width: auto;
}

.Works {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.window1 {
  position: relative;
  width: 100%;
  height: auto;
}

.window-text1 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 220px;
  left: 50px;
  color: black;
  font-size: 50px;
}

.text1 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 230px;
  left: 500px;
  color: black;
  font-size: 40px;
}

.window-text2 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 350px;
  left: 50px;
  color: black;
  font-size: 50px;
}

.text2 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 390px;
  left: 50px;
  color: black;
  font-size: 40px;
}

.window-text3 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 1050px;
  left: 50px;
  color: black;
  font-size: 50px;
}

.text3 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 1060px;
  left: 500px;
  color: black;
  font-size: 40px;
}

.window-text4 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 1180px;
  left: 50px;
  color: black;
  font-size: 50px;
}

.text4 {
  font-family: "Hachi Maru Pop", cursive;
  position: absolute;
  top: 1220px;
  left: 50px;
  color: black;
  font-size: 40px;
}

/* スマホ向け（768px以下） */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}

/* PC向け（769px以上） */
@media (min-width: 769px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}